cryptography>=48.0.0
dotenv>=0.9.9
langchain-core>=1.4.0
langchain-openai>=1.2.2
langgraph>=1.2.1
openai>=2.38.0
pandas>=3.0.3
plotly>=6.7.0
pydantic>=2.13.4
python-dotenv>=1.2.2
requests>=2.34.2
serpapi>=1.0.2
streamlit>=1.57.0
tavily>=1.1.0
tiktoken>=0.13.0
torch>=2.12.0
